.cart__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 20px 10px;
    border: 1px solid rgba(0, 0, 0, 0.137);
}

.cart__img {
    width: 250px;
    padding-left: 10px;
}

.cart__name {
    padding: 10px;
}

.cart__stocks {
    margin-right: 20px;
}